
<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Breve Technology | Home </title>
</head>

<body ng-controller="mainCtrl">
  <header>
    <div class="logo">
      <strong>BREVE TECH</strong>
    </div>
    <nav>
      <ul>
        <!-- <li><a href="#">Home</a></li> -->
        <!-- <li><a href="#">Services</a></li> -->
        <!-- <li><a href="#">Contact</a></li> -->
      </ul>
    </nav>
  </header>
  <section>
    <div class="hero">

    </div>
  </section>

  <div class="panel bg-gray">
    <p>Breve Technology Group brings enterprise-level technology to small and mid-sized companies – building the digital technology that solves unique problems, works better and turns ideas into functional reality.</p>
  </div>
  <div class="panel-row">
    <div class="pane">
      <div class="img-container first required">
      </div>
      <p style="text-align:center;"><strong>Bring Your Business</strong> Ideas, Problems, Challenges or Dreams to Breve Tech.</p>
    </div>

    <div class="pane">
      <div class="img-container second">
      </div>
      <p>Breve Tech&#39;s tight knit team of experts becomes your team of experts, advising you on the most effective, efficient solution.</p>
    </div>

    <div class="pane">
      <div class="img-container third">
      </div>
      <p>Breve Tech constructs, implements and maintains your amazing new technology and makes your life easier.</p>
    </div>
  </div>

  <div class="panel bg-red text-centered">
    <h3>With you every step of the way.</h3>

    <p>Here are just a few of the ways Breve Tech can help you and your business</p>

    <ul class="items" style="margin-top:40px;display:block;">
      <li>Repair or modify existing software<br></li>
      <li>Develop a mobile app with real revenue potential<br></li>
      <li>Build functional prototypes for entrepreneurs<br></li>
      <li>Be your multi-talented technology department</li>
      <li>Web management and digital maintenance of your business</li>
      <li>Make eCommerce work for you and your clients</li>
      <li>Customized functionality tailored to your business</li>
    </ul>
  </div>
  <div class="panel bg-gray">
    <h2 style="margin-top:10%;font-size:2em;text-align:center;font-weight:bold;"><strong>Let’s Talk About How We Can Help Your Business Grow</strong></h2>

    <h2 style="margin-top:10%;text-align:center;font-weight:bold;">Get started!</h2>

    <div id="messages" class="alert alert-success animated bounce" data-ng-show="messages" data-ng-bind="messages"></div>
    <div class="contactform">

      <form ng-submit="postInquiry(form)" id="inquiry">

        <div class="form-group">
          <label class="col-form-label">Your Name</label>
          <input class="form-control" type="text" placeholder="Enter your name" ng-model="form.firstname" ng-required="required">
        </div>
        <div class="form-group">
          <label class="col-form-label">Telephone</label>
          <div>
            <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="example-tel-input" ng-model="form.phone" ng-required="required">
          </div>
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" ng-model="form.email" ng-required="required">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label>Type of Project</label>
          <select ng-model="form.typeofproj" class="form-control" id="exampleSelect1" ng-required="required">
                    <option></option>
                    <option>Create New Site</option>
                    <option>Update Existing Site</option>
                    <option>Social Media Management</option>
                    <option>Web Application</option>
                    <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Additional details or comments" ng-model="form.comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
